*{
    margin: 0;
    padding: 0;
}
/*Fin du reset*/
#headerBacklog{
    background-color: #ebebeb;  
    display: flex;
    justify-content: space-around;   
}

#headerTodo{
    background-color: #febe36;
}

#headerOngoing{
    background-color: #50b8d9;
}

#headerDone{
    background-color: #52af52;
} 

h2{
    color: #8c8c8c;  
    display: inline-block;
    font-size: 20px;       
}

#btnHeader{
    background: none; 
    border: none;
    display: inline-block;    
}
/*Fin des headers*/

.container2{   
    border: 1px solid #ebebeb;
    border-radius: 5px; 
    padding: 5px;   
}

#task1Todo{
    background-color: #85c3f8;    
}

.task{
    background-color: #85c3f8;
}

.menu{
    display: flex;
    justify-content: space-around;
}

h3{
    display: inline-block;
    font-size: 15px;
}

#btnMenu{
    background: none;
    border: none;
    display: inline-block;    
}
/*Fin du menu*/

.check{
    background-color: #1d8bf1;    
}

.inputCheckbox{
    margin-left: 15px;
}
/*Fin de la partie checkbox*/

#add{
    background-color: #1d8bf1; 
    display: flex;
    justify-content: space-between;
    margin-top: 3px;    
}

#addTodo{
    background: none;
    border: none;
    display: inline-block;
}

#clickList{   
    background: none;
    border: none;
    display: inline-block;
}
/*Fin de la partie add*/

/*Fin du container2*/
       
#addNewTask{
    width: 100%;
    text-align: center;
    color: #8c8c8c;
}
/*Fin du btn add*/










